## Uebergame repository ignore list

#shaders cache
shaders/procedural/*

## art
#models source files
*.dae

#screenshots
screens/*

#compilergarbage
*.exp
*.bat

#console outpout
console.log

#binaries
*.exe
*.dll

#settings
tools/settings.xml