## Uebergame repository ignore list

#shaders cache
shaders/procedural/*

#fonts cache
core/fonts/*

#screenshots
screens/*

#compilergarbage
*.exp
*.bat

#console outpout
console.log

#binaries
*.exe
*.dll

#settings
tools/settings.xml
/.project

#linux binaries
Uebergame-Linux-32-Bit

#linux garbage
libSDL2-2.0.so
libSDL2-2.0.so.1
libSDL2-2.0.so.0.2.1
